<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="icon" href="{{ '/assets/images/favicon.png' | relative_url }}" type="image/png">
</head>

<body>
  {% include nav.html %}

  <main>
    {{ content }}
  </main>

  <footer class="site-footer">
    <p>&copy; {{ 'now' | date: '%Y' }} Code Nerd LLC</p>
  </footer>
</body>

</html>
